<%- include('templates/header') -%>

  <h1>
      Welcome To The Solar System
      <br>
      <img width="30%" src="img/solarSystem.jpg" alt="solarsystem" />
  </h1>

<%- include('templates/footer') -%>
