<%- include('templates/header') -%>

  <h1>
      Jupiter
      <br>
        <img width="30%"src="img/jupiter.jpg" alt="jupiter">
      <p>
        Jupiter is so big that all the other planets in the solar system could fit inside it.
        More than 1,300 Earths would fit inside Jupiter. Jupiter is the fifth planet from the sun.
        From Earth, it is almost always the second brightest planet in the night sky.
      </p>
  </h1>

<%- include('templates/footer') -%>
