<%- include('templates/header') -%>

  <h1>
      Saturn
      <br>
      <img width="30%" src="img/saturn.jpg" alt="saturn">
      <p>
        Saturn is the sixth planet from the Sun and the most distant that can be seen with the naked eye.
        Saturn is the second largest planet and is best known for its fabulous ring system that was first observed in 1610 by the astronomer Galileo Galilei.
      </p>
  </h1>

<%- include('templates/footer') -%>
