<%- include('templates/header') -%>

  <h1>
      Uranus
      <br>
      <img width="30%" src="img/uranus.jpg" alt="uranus">
      <p>
        Uranus is the seventh planet from the Sun.
        It has the third-largest planetary radius and fourth-largest planetary mass in the Solar System.
        Uranus is similar in composition to Neptune, and both have bulk chemical compositions which differ from that of the larger gas giants Jupiter and Saturn.
      </p>
  </h1>

<%- include('templates/footer') -%>
