<%- include('templates/header') -%>

  <h1>
      Venus
      <br>
      <img width="30%" src="img/venus.png" alt="venus">
      <p>
        Venus is the second planet from the Sun.
        It is named after the Roman goddess of love and beauty. 
        As the second-brightest natural object in the night sky after the Moon, Venus can cast shadows and, rarely, is visible to the naked eye in broad daylight.
      </p>
  </h1>

<%- include('templates/footer') -%>
