<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Solar System</title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body class="jumbotron">
  <nav>
    <center>
      <hr width="50%" />
        <a href="/home">Home</a>
        <a href="/jupiter">Jupiter</a>
        <a href="/saturn">Saturn</a>
        <a href="/uranus">Uranus</a>
        <a href="/venus">Venus</a>
        <a href="/mars">Mars</a>
      </hr>
    </center>
</nav>
<br>
